@font-face {
  font-family: 'SansForgetica';
  src: url(SansForgetica-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

html {
    background: #F5F5F5;
}

body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #333;
  background: #FAEBD7;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.4;
  word-wrap: break-word;
  width: 1000px;
  max-width: 99%;
  box-sizing: border-box;
  padding: 1px 20px 24px 20px;
  margin-left: auto;
  margin-right: auto;
}

body a {
  background-color: transparent;
}

body a:active,
body a:hover {
  outline: 1;
}

body strong {
  font-weight: bold;
}

body img {
  border: 0;
}

body hr {
  box-sizing: content-box;
  height: 0;
}

body pre {
    overflow: auto;
    background: #FFFFFF;
    padding: 10px;
}

body code,
body kbd,
body pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9em;
}

body code {
}

body pre {
  margin-top: 0;
  margin-bottom: 0;
}

body h1 {
  font-size: 2em;
  margin-top: 1em;  
  margin-bottom: 0.6em;
  line-height: 1em;
}

body h2 {
    color: #555555;
  font-size: 1.4em;
  margin-top: 1em;  
  margin-bottom: 0.45em;
}

body h3 {
    color: #AA6A66;
  font-size: 1.3em;
  margin-top: 1em;  
  margin-bottom: 0.33em;
}


header {
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 1empx;
    margin-top: 0;
    line-height: 1em;
}
header p {
    color: #500000;
}
header h1 {
    color: #380000;
}
.title {
    font-size: 3em;
    margin-bottom: .75em;
}
.subtitle {
    font-size: 25px;
    font-weight: lighter;
}
.author {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: .3em;
    font-weight: light;
}
.institute {
    font-size: 1.1em;
    margin-bottom: .3em
}
.webpage {
    font-size: .9em;
}

table {
    margin-left:auto; 
    margin-right:auto;
    background: #FFFFFF;
    border-collapse: collapse;
    overflow: scroll;
    overflow-x: auto;
}

td {
    border-bottom: 1px solid gray;
    padding: 10px;
}

th {
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 1.2em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
  max-width: 99%;
}
